<h1>Alert Dismissing</h1>
<div class="alert">
    <p>Contenido de la Alerta</p>
    <p class="close">&times;</p>
</div>
<br/>
<br/>
<h1>Collapse</h1>
<button class="btn-collapse">Click me</button>
<div class="collapse-content">sdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefs</div>
<h1>Accordion</h1>
<div class="accordion">
    <button class="btn-accordion" data-target="accordion01">Click me</button>
    <div class="accordion-content" id="accordion01">sdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefs</div>
</div>
<div class="accordion">
    <button class="btn-accordion" data-target="accordion02">Click me</button>
    <div class="accordion-content" id="accordion02">sdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefs</div>
</div>
<div class="accordion">
    <button class="btn-accordion" data-target="accordion03">Click me</button>
    <div class="accordion-content" id="accordion03">sdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefssdfvdsfvsfs  fsfsfsef se f sef sef sef  sef esf se fsef esf  fesf esf esf sef sefs</div>
</div>